body {
    font-family: "roboto";
}

.center {
	margin: 0 auto;
	text-align: center;
}

table:first-child td:nth-child(4) {
    color: #f00;
}

table:first-child td:nth-child(5) {
    color: #000;
}

table {
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

th {
    padding: 2px;
    background-color: #000;
    color: #fff;
    min-width: 40px;
}

td {
    text-align: center;
    padding: 2px 10px 2px 10px;
    min-width: 40px;
}

td:hover {
    cursor: pointer;
    background-color: #27AE60;
}

td:nth-child(5) {
    color: #f00;
}

tr:hover {
    color: #fff;
    background-color: #3498db;
}

tr:hover td:nth-child(4) {
    color: #fff;
}

tr:hover td:nth-child(5) {
    color: #fff;
}

a {
    color: #00f;
    text-decoration: none;
}

a:visited {
    color: #00f;
    text-decoration: none;
}

textarea {
    position: absolute;
    top: -10000px;
}

@media (max-width: 1024px ) {
    table {
	    display: inline;
    }

    td, th {
	    width: 10%;
    }
}
